.TictactoeBoard{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.TictactoeGame{
    width: 75%;
}

.ticrow{
    display: block;
    width: 100%;
    height: 100px;
}

.ticcell{
    display: block;
    width: 25%;
    height: 90px;
    float: left;
    margin: 1%;
    background-color: rgba(48, 214, 251, 0.38);
    font-weight: bold;
    font-size: 4em;
}

.ticcell:hover{
    background-color: rgba(63, 251, 84, 0.38);
}

.myturn{
    background-color: #8ec799;
}

.notmyturn{
    background-color: rgba(255, 0, 0, 0.51);
}

div.board{
    display: block;
    border: none;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}
.gameInfo{
    float:left;
    width: 58%;
    text-align:center;
    margin-left: 13%;
    font-weight:bold;
    display: block;
    padding: 5px;
}
